body,
    body * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }

main {

}
    div.middle {

    }
        div.search {
        
        }
            img.logo {

            }
            .search-bar-img {

            }
        
            .search-bar {

            }

        .buttons-cont {

        }
            .buttons {

            }
        .lang-offer {

        }
        