body,
    body * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

main {
    width: 100vw;
    /* background-color: lightblue; */
    position: relative;
    padding-top: 10px;
}
    div.middle {
        width: 650px;
        position: relative;
        left: 50%;
        right: 50%;
        transform: translate(-50%);
        text-align: center;
    }
        div.search {
            display: flex;
            align-content: space-around;
            align-items: center;
            
            /* Padaro per viduri */
            justify-content: center;
            padding-top: 5px;
            padding-bottom: 5px;

        }
            img.logo {
            margin-top: 10%;
            width: 50%;
            height: auto;
            }
            .search-img{
                width: 25px;
                padding-left: 5px;
                padding-right: 5px;
                flex-wrap: nowrap;
                position: relative;
                opacity: 60%;
            }
                .search-img:hover{
                    opacity: 100%;
                    cursor: pointer;
                }
                /* ! Pakeist searchbaro sizinima kart su zoomu. @media max ir min width?  */
            .search-bar {
            outline: none;
            width: 80%;
            height: 38px;
            font-size: 16px;
            border-radius: 17px;
            padding-left: 8px;
            padding-right: 5px;
            line-height: 1;
            border: 1px solid #DADCE0;

            }
            .search-bar:hover {
                box-shadow: 0 1px 4px 0px #b4b6b9;
                
            }
            
        .lang-offer {
        margin-top: 40px;
        font-size: 13px;
        padding: 10px 0 10px;
        }
            .lang-offer > a {
                text-decoration: none;
                padding-left: 5px ;
            }
                .lang-offer > a:hover{
                    text-decoration: underline;
                }